{
  // TODO: Copy this file to env.jsonc and fill out the values
  // Do NOT commit the copied file!

  // ID of the server to deploy commands to on code change during development
  "testServerId": "",

  // Create applications here: https://discord.com/developers/applications

  // Configuration for the development application, with its
  // Interactions Endpoint URL set to your Cloudflare Tunnel URL
  "development": {
    "applicationId": "",
    "applicationPublicKey": "",
    "applicationSecret": ""
  },

  // Configuration for the production application, with its
  // Interactions Endpoint URL set to your deployed worker's URL
  "production": {
    "applicationId": "",
    "applicationPublicKey": "",
    "applicationSecret": ""
  }
}
